<% if(modal === 'login') { %>
    <dialog id="login-modal" class="modal">
        <h2>Login</h2>
        <form id="login-form">
            <div class="form-group">
                <label for="login-email">E-mail</label>
                <input type="email" id="login-email" required />
            </div>
            <div class="form-group">
                <label for="login-password">Senha</label>
                <input type="password" id="login-password" required />
            </div>
            <button type="submit" class="action">Entrar</button>
            <button type="button" id="close-login-modal-btn">X</button>
        </form>
    </dialog>
<% }else if(modal === 'register') {%>
    <dialog id="register-modal">
        <h2>Criar Conta</h2>
        <form id="register-form">
            <div class="form-group">
                <label for="register-name">Nome</label>
                <input type="text" id="register-name" />
            </div>
            <div class="form-group">
                <label for="register-email">E-mail</label>
                <input type="email" id="register-email" required />
            </div>
            <div class="form-group">
                <label for="register-password">Senha</label>
                <input type="password" id="register-password" required />
            </div>
            <button type="submit">Registar</button>
            <button type="button" id="close-register-modal-btn">Fechar</button>
        </form>
    </dialog>
<% } %>