<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Caloric: Calculadora de Calorias e Macronutrientes</title>
		<meta name="description" content="Calcule sua meta diária de calorias e macronutrientes (proteínas, carboidratos, gorduras) com base nos seus objetivos de forma gratuita e precisa com o Caloric." />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://caloric.com.br/" />
		<meta property="og:title" content="Caloric: Calculadora de Calorias e Macronutrientes" />
		<meta property="og:description" content="Calcule suas metas diárias de calorias e macros de forma gratuita e precisa." />
		<!-- <meta property="og:image" content=""> -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content="https://caloric.com.br/" />
		<meta property="twitter:title" content="Caloric: Calculadora de Calorias e Macronutrientes" />
		<meta property="twitter:description" content="Calcule suas metas diárias de calorias e macros de forma gratuita e precisa." />
		<link rel="stylesheet" href="./css/style.css" />
	</head>
	<body></body>
</html>
