<%- include('partials/_header.ejs') %>
		<a href="/">voltar</a>
		<h1>Caloric</h1>
		<section>
			<h2>Sobre</h2>
			<article>
				<p>Este é um website destinado ao Cálculo de Macro Nutrientes e Calorias para auxiliar o usuário a criar novas metas e acompanhar seu desenvolvimento em prol da saúde física.</p>
			</article>
		</section>
	</body>
</html>
